# Neovim
nvim/.config/nvim/*
!nvim/.config/nvim/init.vim
!nvim/.config/nvim/init.vim.old
!nvim/.config/nvim/coc-settings.json
!nvim/.config/nvim/ftplugin

# Emacs
emacs/.config/emacs/*
!emacs/.config/emacs/early-init.el
!emacs/.config/emacs/init.el
!emacs/.config/emacs/package-settings.el
!emacs/.config/emacs/user-settings.el

# User systemd
systemd/.config/systemd/user/*
!systemd/.config/systemd/user/emacs.service

# Miscellaneous
.git
.cache/
.DS_STORE
*.cache
