# Neovim
nvim/.config/nvim/*
flatpak_configs/.var/app/io.neovim.nvim/*
!flatpak_configs/.var/app/io.neovim.nvim/init.vim
!flatpak_configs/.var/app/io.neovim.nvim/init.vim.old
!flatpak_configs/.var/app/io.neovim.nvim/coc-settings.json
!flatpak_configs/.var/app/io.neovim.nvim/ftplugin

# Docker
docker/.docker/*
!docker/.docker/config.json

# Gpg
gpg/.gnupg/*
!gpg/.gnupg/gpg-agent.conf
!gpg/.gnupg/gpg.conf

# Emacs
emacs/.emacs.d/*
!emacs/.emacs.d/early-init.el
!emacs/.emacs.d/init.el
!emacs/.emacs.d/package-settings.el
!emacs/.emacs.d/user-settings.el
!emacs/.emacs.d/install.el

#Other flatpaks
flatpak_configs

# Mpv
mpv/.config/mpv/shaders
flatpak_configs/.var/app/io.mpv.Mpv/config/mpv/shaders

# User systemd
systemd/.config/systemd/user/*
!systemd/.config/systemd/user/emacs.service

# Miscellaneous
.git
.cache/
.DS_STORE
*.cache
